streamlit
streamlit-chat
streamlit-webrtc
python-dotenv
langchain-openai
langchain-core
pymongo
numpy
scipy
pydantic
av
google-cloud-translate
google-cloud-texttospeech
google-cloud-speech
openai
streamlit-audiorecorder
